# Upload Data Sets (Tech_Hub)

## Data Sets

In [4]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df1.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
df1.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 18 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Area_Name                                   538 non-null    object
 1   Employment_Total                            530 non-null    object
 2   Employment_percent_relative_standard_error  530 non-null    object
 3   Hourly_mean_wage                            530 non-null    object
 4   Annual_mean_wage                            530 non-null    object
 5   Wage_percent_relative_standard_error        530 non-null    object
 6   Hourly_10th_percentile_wage                 530 non-null    object
 7   Hourly_25th_percentile_wage                 530 non-null    object
 8   Hourly_median_wage                          530 non-null    object
 9   Hourly_75th_percentile_wage                 530 non-null    object
 10  Hourly_90th_percentile_wage                 530 non-null    object
 11  Annual_10th_percentile_wage                 530 non-null    object
 12  Annual_25th_percentile_wage                 530 non-null    object
 13  Annual_median_wage                          530 non-null    object
 14  Annual_75th_percentile_wage                 530 non-null    object
 15  Annual_90th_percentile_wage                 530 non-null    object
 16  Employment_per_1k_jobs                      530 non-null    object
 17  Location_Quotient                           530 non-null    object
dtypes: object(18)
memory usage: 76.1+ KB

In [5]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df2 = pd.read_excel("Tech_Job_Gains.xlsx")

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    51 non-null     object
 1   2018    51 non-null     int64
 2   2019    51 non-null     int64
 3   2020    51 non-null     int64
 4   2021    51 non-null     int64
 5   2022    51 non-null     int64
 6   2023    51 non-null     int64
 7   2024    51 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.3+ KB

In [6]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df3 = pd.read_excel("Venture_Capitol.xlsx")

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               150 non-null    object
 1   Venture_Capital_Score  150 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

In [7]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df11 = pd.read_csv("top_100_us_tech_cities.csv")

df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Spot                   108 non-null    object
 1   Number_of_Tech_Events  108 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [8]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df12 = pd.read_csv("top_100_us_tech_layoffs_per_capita.csv")

df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            105 non-null    object
 1   Population          105 non-null    int64
 2   Number_of_Layoffs   105 non-null    int64
 3   Layoffs_per_Capita  105 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.4+ KB

## Merging the Data Sets

In [9]:
import pandas as pd
import sqlite3

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df2 = pd.read_excel("Tech_Job_Gains.xlsx")
df11 = pd.read_csv("top_100_us_tech_cities.csv")
df12 = pd.read_csv("top_100_us_tech_layoffs_per_capita.csv")



# Adjust specific city names to match between datasets
df2['City'] = df2['City'].replace('New York City', 'New York')
df1['Area_Name'] = df1['Area_Name'].replace('Washington-Arlington-Alexandria, DC-VA-MD-WV (00-47900)', 
                                            'Washington DC-Arlington-Alexandria, DC-VA-MD-WV (00-47900)')

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load DataFrames into SQLite tables
df1.to_sql("Metro_Data", conn, if_exists="replace", index=False)
df2.to_sql("Tech_Gains", conn, if_exists="replace", index=False)
df11.to_sql("Tech_Events", conn, if_exists="replace", index=False)
df12.to_sql("Tech_Layoffs", conn, if_exists="replace", index=False)


# SQL Query to merge all datasets
query = """
SELECT DISTINCT *
FROM Metro_Data 
JOIN Tech_Gains ON Metro_Data.Area_Name LIKE '%' || Tech_Gains.City || '%'
AND Metro_Data.Area_Name NOT LIKE '%nonmetropolitan%'
LEFT JOIN Tech_Layoffs ON Tech_Layoffs.Location LIKE '%' || Tech_Gains.City || '%'
LEFT JOIN Tech_Events ON Tech_Events.Spot LIKE '%' || Tech_Gains.City || '%'
GROUP BY Metro_Data.Area_Name

"""

# Load the merged result back into a Pandas DataFrame
merged_df = pd.read_sql(query, conn)

# Close the connection
conn.close()

# Save or analyze the merged data
merged_df.to_excel("merged_output.xlsx", index=False)  # Save as Excel
merged_df  # Display first few rows

,Area_Name,"Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient",Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,2021,2022,2023,2024,Location,Population,Number_of_Layoffs,Layoffs_per_Capita,Spot,Number_of_Tech_Events
0,"Albuquerque, NM (00-10740)",11730,3.29999995231628,46.7,97140,2.40000009536743,20.9,30.12,42.53,61.91,...,21778,22898,23276,23596,"Albuquerque, NM",561188.0,3464.0,0.006173,"Albuquerque, NM",98
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.5,109210,0.699999988079071,26.05,36.34,50.12,65.4,...,217589,227821,229584,235268,"Atlanta, GA",5234502.0,15838.0,0.003026,"Atlanta, GA",2937
2,"Austin-Round Rock, TX (00-12420)",81150,1.39999997615814,53.6,111490,2.59999990463257,24.43,35.07,50.64,67.85,...,157572,176248,180507,190186,"Austin, TX",4391747.0,1353.0,0.000308,"Austin, TX",996
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.79999995231628,61.76,128450,3.40000009536743,30.93,42.44,60.23,77.72,...,104078,104423,104838,106852,"Baltimore, MD",5370385.0,5677.0,0.001057,"Baltimore, MD",1857
4,"Boise City, ID (00-14260)",10580,2.70000004768372,53.76,111810,7.80000019073486,22.64,30.15,41.56,60.36,...,24048,25387,25749,26592,"Boise, ID",7963697.0,17464.0,0.002193,"Boise, ID",951
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.29999995231628,61.92,128790,0.899999976158142,33.19,43.83,60.66,77.69,...,266780,270775,268934,274023,"Boston, MA",736976.0,17458.0,0.023689,"Boston, MA",1312
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.39999997615814,46.88,97510,0.800000011920929,23.48,31.71,43.26,59,...,22815,23981,24550,25255,"Buffalo, NY",8566999.0,1581.0,0.000185,"Buffalo, NY",1731
7,"Charleston, WV (00-16620)",2540,4,36.92,76790,1.70000004768372,19.45,24.23,32.45,45.94,...,17759,19162,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435
8,"Charleston-North Charleston, SC (00-16700)",11770,2.79999995231628,49.1,102120,1.29999995231628,24.33,33.72,46.41,60.59,...,17759,19162,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.899999976158142,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,85263,89246,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241
10,"Charlottesville, VA (00-16820)",4060,2.09999990463257,51.25,106600,1.20000004768372,26.96,36.87,48.83,62.18,...,85263,89246,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.60000002384186,52.15,108470,0.699999988079071,26.14,36,49.4,64.39,...,238965,246517,245800,247935,"Chicago, IL",1291082.0,5277.0,0.004087,"Chicago, IL",680
12,"Cleveland, TN (00-17420)",540,3.79999995231628,37.11,77190,2,18.69,23.71,33.72,46.83,...,51858,52708,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503
13,"Cleveland-Elyria, OH (00-17460)",28190,3.29999995231628,45.87,95400,0.899999976158142,23.84,31.55,43.62,58.8,...,51858,52708,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503
14,"Colorado Springs, CO (00-17820)",16620,2.90000009536743,55.32,115070,1,29.89,39.72,51.76,67.69,...,26180,27954,28466,29201,"Colorado Springs, CO",4091776.0,19628.0,0.004797,"Colorado Springs, CO",2838
15,"Columbus, GA-AL (00-17980)",3780,2.20000004768372,45.4,94430,1.39999997615814,22.84,32.59,45.02,56.71,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
16,"Columbus, IN (00-18020)",920,2.20000004768372,42.3,87970,1,22.4,29.57,39.7,50.67,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
17,"Columbus, OH (00-18140)",38580,1.39999997615814,49.11,102150,1,23.74,32.96,48.06,62.67,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.20000004768372,53.37,111010,0.800000011920929,25.12,36.76,50.58,65.77,...,324080,349631,360322,375540,"Dallas, TX",4942306.0,15099.0,0.003055,"Dallas, TX",1779
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.70000004768372,57.59,119780,1.5,30.66,41.6,54.35,69.31,...,149931,159015,160057,165731,"Denver, CO",4565488.0,16888.0,0.003699,"Denver, CO",1343
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.70000004768372,48.8,101500,0.899999976158142,24.87,34.15,47.66,60.16,...,23851,24681,24908,25359,"Des Moines, IA",4153022.0,8630.0,0.002078,"Des Moines, IA",2031
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.09999990463257,48.33,100520,0.600000023841858,25.14,35.63,48.2,62.12,...,101851,104124,103896,104172,"Detroit, MI",8033441.0,14598.0,0.001817,"Detroit, MI",1412
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.09999990463257,53.54,111360,0.800000011920929,29.24,38.84,51.22,65.19,...,37253,38165,38515,38979,"Hartford, CT",7828484.0,4952.0,0.000633,"Hartford, CT",1730
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.60000002384186,50.41,104850,1,23.49,31.57,46.94,63.71,...,140676,149152,152084,155660,"Houston, TX",3724515.0,3551.0,0.000953,"Houston, TX",1096
24,"Huntsville, AL (00-26620)",19440,3.20000004768372,54.18,112700,1,28.62,38.48,51.16,67.05,...,27489,28542,28683,29135,None,NaN,NaN,NaN,"Huntsville, AL",2426
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.79999995231628,45.31,94250,0.800000011920929,24.02,31.25,42.22,55.75,...,53706,54958,55585,56990,"Indianapolis, IN",4377576.0,13917.0,0.003179,"Indianapolis, IN",2579
26,"Kansas City, MO-KS (00-28140)",43400,2.40000009536743,47.74,99310,0.899999976158142,23.74,31.74,47.02,61.98,...,74891,76827,77699,78927,"Kansas City, MO",7378141.0,1650.0,0.000224,"Kansas City, MO",1881
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.90000009536743,44.7,92970,3.40000009536743,21.59,27.33,39.27,55.9,...,30901,35167,35954,37577,"Las Vegas, NV",5383152.0,19722.0,0.003664,"Las Vegas, NV",2669
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.10000002384186,58.9,122510,0.600000023841858,28.43,38.42,57.66,76.77,...,368539,376955,375831,378427,"Los Angeles, CA",8556404.0,10407.0,0.001216,"Los Angeles, CA",1570
29,"Memphis, TN-MS-AR (00-32820)",12610,2,44.35,92240,1.39999997615814,22.01,28.57,40.38,56.9,...,19669,21009,21045,21450,"Memphis, TN",633104.0,3908.0,0.006173,"Memphis, TN",200
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.70000004768372,49.04,102000,0.899999976158142,22.94,31,45.28,63.16,...,122059,132847,135965,139644,"Miami, FL",841971.0,7466.0,0.008867,"Miami, FL",1873
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.09999990463257,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,44842,44916,44349,44084,"Milwaukee, WI",6780886.0,17396.0,0.002565,"Milwaukee, WI",2916
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.20000004768372,52.31,108800,0.600000023841858,29.29,38.43,50.45,64.02,...,146168,146623,147088,148204,"Minneapolis, MN",5996594.0,4965.0,0.000828,"Minneapolis, MN",2365
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.70000004768372,45.21,94040,1.60000002384186,23.18,30.31,41.96,58.52,...,51876,58546,60502,63391,"Nashville, TN",4428727.0,8487.0,0.001916,"Nashville, TN",552
34,"New Orleans-Metairie, LA (00-35380)",7880,4.09999990463257,50.34,104700,2.40000009536743,22.17,30.31,41.63,55.24,...,15968,17456,17760,18261,"New Orleans, LA",390144.0,2408.0,0.006173,"New Orleans, LA",343
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.79999995231628,62.74,130500,0.600000023841858,29.68,41.89,61.04,80.37,...,549565,585879,594191,613861,"New York City, NY",3554473.0,13903.0,0.003911,"New York City, NY",1241
36,"Oklahoma City, OK (00-36420)",18920,1.70000004768372,43.37,90200,1.70000004768372,21.95,28.6,39.18,53.8,...,25603,27311,28211,28722,"Oklahoma City, OK",655057.0,4044.0,0.006173,"Oklahoma City, OK",71
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.20000004768372,46.81,97350,1.29999995231628,25.04,32.98,46.38,59.97,...,31767,31676,31085,31174,"Omaha, NE",2319042.0,17443.0,0.007522,"Omaha, NE",2939
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1,48.27,100400,1.20000004768372,23.02,31.51,46.47,61.11,...,67509,71942,73922,76085,"Orlando, FL",4174499.0,7299.0,0.001748,"Orlando, FL",1327
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.10000002384186,52.15,108470,0.800000011920929,26.32,35.97,49.44,64.98,...,154522,158476,157986,159251,"Philadelphia, PA",1629159.0,16479.0,0.010115,"Philadelphia, PA",2844
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.09999990463257,51.08,106240,1.20000004768372,24.11,33.43,48.91,63.6,...,160193,168018,168694,172709,"Phoenix, AZ",5156799.0,17519.0,0.003397,"Phoenix, AZ",2621
41,"Pittsburgh, PA (00-38300)",30760,1.29999995231628,45.54,94730,1,22.82,30.44,41.19,58.37,...,59768,58860,58646,58884,"Pittsburgh, PA",6091495.0,1376.0,0.000226,"Pittsburgh, PA",1192
42,"Portland-South Portland, ME (00-76750)",6740,2.40000009536743,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,114225,119784,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,114225,119784,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.89999997615814,27.82,37.62,50.65,65.88,...,32783,33824,34024,34627,"Providence, RI",8220528.0,8305.0,0.001010,"Providence, RI",1448
45,"Raleigh, NC (00-39580)",41180,1.20000004768372,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,70221,73624,75041,77377,"Raleigh, NC",8817088.0,4642.0,0.000526,"Raleigh, NC",1108
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.09999990463257,50.2,104420,0.600000023841858,31.33,36.24,46.08,60.16,...,54954,55669,55368,55709,"Sacramento, CA",1757923.0,9704.0,0.005520,"Sacramento, CA",2909
47,"Salt Lake City, UT (00-41620)",37850,3.20000004768372,51.1,106300,1.70000004768372,23.64,33.09,47.64,64.46,...,64614,69272,69826,73038,"Salt Lake City, UT",2954941.0,17714.0,0.005995,"Salt Lake City, UT",1735
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.89999997615814,47.51,98830,1.20000004768372,23,30.79,45.71,61.02,...,50578,52728,53290,55069,"San Antonio, TX",668467.0,6449.0,0.009647,"San Antonio, TX",1885
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.899999976158142,60.1,125010,0.699999988079071,29.2,40.69,59.06,76.79,...,119129,121418,121128,123237,"San Diego, CA",6611000.0,2991.0,0.000452,"San Diego, CA",2394
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.20000004768372,76.18,158450,0.600000023841858,37.15,56.45,78.79,97.11,...,345502,368407,365494,380190,"San Francisco, CA",7349695.0,13621.0,0.001853,"San Francisco, CA",659
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.899999976158142,88.68,184460,0.400000005960465,49.38,68.67,84.19,101.87,...,352752,366574,364882,374138,"San Jose, CA",6721458.0,15828.0,0.002355,"San Jose, CA",253
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.70000004768372,69.49,144530,0.899999976158142,35.52,48.59,67.68,83.35,...,269109,288329,287621,298361,"Seattle, WA",2522189.0,18032.0,0.007149,"Seattle, WA",803
53,"St. Louis, MO-IL (00-41180)",45330,2,45.35,94330,0.899999976158142,22.33,28.87,42.76,59.78,...,75557,77818,78129,78905,"St. Louis, MO",2150021.0,14762.0,0.006866,"St. Louis, MO",456
54,"Trenton, NJ (00-45940)",11610,1.79999995231628,54.43,113210,0.899999976158142,29.18,37.89,50.18,66.38,...,17817,18658,18541,18764,"Trenton, NJ",84907.0,524.0,0.006173,"Trenton, NJ",234
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.10000002384186,62.96,130950,1.29999995231628,33.89,46.17,62.4,79.27,...,367527,375358,376034,380232,"Washington DC, DC",720687.0,4449.0,0.006173,"Washington DC, DC",899

### 1. Add ***Tech Job Growth Column*** & ***Entry Level Wage Average (10th and 25th Percentile)***

In [10]:
import pandas as pd
Merged_Output = pd.read_excel("merged_output.xlsx")
Merged_Output.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
Merged_Output.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)



final_value = Merged_Output['2023']
intial_value = Merged_Output['2018']
years = 6

Merged_Output['Average_7_Year_Growth_Rate'] = (((final_value / intial_value) ** (1 / years) - 1) * 100).round(3)
Merged_Output['Entry_Level_Tech_Wage'] = (Merged_Output['Annual_10th_percentile_wage'] + Merged_Output['Annual_25th_percentile_wage'])/2

# Optionally, you can save the result to a new Excel file
Merged_Output.to_excel("updated_output.xlsx", index=False)

df4 = pd.read_excel('updated_output.xlsx')
df4

,Area_Name,Employment_Total,Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,2023,2024,Location,Population,Number_of_Layoffs,Layoffs_per_Capita,Spot,Number_of_Tech_Events,Average_7_Year_Growth_Rate,Entry_Level_Tech_Wage
0,"Albuquerque, NM (00-10740)",11730,3.3,46.70,97140,2.4,20.90,30.12,42.53,61.91,...,23276,23596,"Albuquerque, NM",561188.0,3464.0,0.006173,"Albuquerque, NM",98,2.111,53065
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.50,109210,0.7,26.05,36.34,50.12,65.40,...,229584,235268,"Atlanta, GA",5234502.0,15838.0,0.003026,"Atlanta, GA",2937,1.500,64890
2,"Austin-Round Rock, TX (00-12420)",81150,1.4,53.60,111490,2.6,24.43,35.07,50.64,67.85,...,180507,190186,"Austin, TX",4391747.0,1353.0,0.000308,"Austin, TX",996,4.914,61875
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.8,61.76,128450,3.4,30.93,42.44,60.23,77.72,...,104838,106852,"Baltimore, MD",5370385.0,5677.0,0.001057,"Baltimore, MD",1857,0.653,76300
4,"Boise City, ID (00-14260)",10580,2.7,53.76,111810,7.8,22.64,30.15,41.56,60.36,...,25749,26592,"Boise, ID",7963697.0,17464.0,0.002193,"Boise, ID",951,1.619,54905
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.3,61.92,128790,0.9,33.19,43.83,60.66,77.69,...,268934,274023,"Boston, MA",736976.0,17458.0,0.023689,"Boston, MA",1312,0.426,80095
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.4,46.88,97510,0.8,23.48,31.71,43.26,59.00,...,24550,25255,"Buffalo, NY",8566999.0,1581.0,0.000185,"Buffalo, NY",1731,0.236,57395
7,"Charleston, WV (00-16620)",2540,4.0,36.92,76790,1.7,19.45,24.23,32.45,45.94,...,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,45425
8,"Charleston-North Charleston, SC (00-16700)",11770,2.8,49.10,102120,1.3,24.33,33.72,46.41,60.59,...,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,60380
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.9,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,70565
10,"Charlottesville, VA (00-16820)",4060,2.1,51.25,106600,1.2,26.96,36.87,48.83,62.18,...,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,66380
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.6,52.15,108470,0.7,26.14,36.00,49.40,64.39,...,245800,247935,"Chicago, IL",1291082.0,5277.0,0.004087,"Chicago, IL",680,-0.011,64625
12,"Cleveland, TN (00-17420)",540,3.8,37.11,77190,2.0,18.69,23.71,33.72,46.83,...,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,44105
13,"Cleveland-Elyria, OH (00-17460)",28190,3.3,45.87,95400,0.9,23.84,31.55,43.62,58.80,...,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,57600
14,"Colorado Springs, CO (00-17820)",16620,2.9,55.32,115070,1.0,29.89,39.72,51.76,67.69,...,28466,29201,"Colorado Springs, CO",4091776.0,19628.0,0.004797,"Colorado Springs, CO",2838,2.224,72390
15,"Columbus, GA-AL (00-17980)",3780,2.2,45.40,94430,1.4,22.84,32.59,45.02,56.71,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,57650
16,"Columbus, IN (00-18020)",920,2.2,42.30,87970,1.0,22.40,29.57,39.70,50.67,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,54045
17,"Columbus, OH (00-18140)",38580,1.4,49.11,102150,1.0,23.74,32.96,48.06,62.67,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,58965
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.2,53.37,111010,0.8,25.12,36.76,50.58,65.77,...,360322,375540,"Dallas, TX",4942306.0,15099.0,0.003055,"Dallas, TX",1779,3.842,64360
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.7,57.59,119780,1.5,30.66,41.60,54.35,69.31,...,160057,165731,"Denver, CO",4565488.0,16888.0,0.003699,"Denver, CO",1343,2.378,75145
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.7,48.80,101500,0.9,24.87,34.15,47.66,60.16,...,24908,25359,"Des Moines, IA",4153022.0,8630.0,0.002078,"Des Moines, IA",2031,1.007,61380
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.1,48.33,100520,0.6,25.14,35.63,48.20,62.12,...,103896,104172,"Detroit, MI",8033441.0,14598.0,0.001817,"Detroit, MI",1412,-0.275,63195
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.1,53.54,111360,0.8,29.24,38.84,51.22,65.19,...,38515,38979,"Hartford, CT",7828484.0,4952.0,0.000633,"Hartford, CT",1730,0.350,70795
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.6,50.41,104850,1.0,23.49,31.57,46.94,63.71,...,152084,155660,"Houston, TX",3724515.0,3551.0,0.000953,"Houston, TX",1096,2.477,57265
24,"Huntsville, AL (00-26620)",19440,3.2,54.18,112700,1.0,28.62,38.48,51.16,67.05,...,28683,29135,NaN,NaN,NaN,NaN,"Huntsville, AL",2426,2.000,69785
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.8,45.31,94250,0.8,24.02,31.25,42.22,55.75,...,55585,56990,"Indianapolis, IN",4377576.0,13917.0,0.003179,"Indianapolis, IN",2579,1.102,57480
26,"Kansas City, MO-KS (00-28140)",43400,2.4,47.74,99310,0.9,23.74,31.74,47.02,61.98,...,77699,78927,"Kansas City, MO",7378141.0,1650.0,0.000224,"Kansas City, MO",1881,1.319,57705
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.9,44.70,92970,3.4,21.59,27.33,39.27,55.90,...,35954,37577,"Las Vegas, NV",5383152.0,19722.0,0.003664,"Las Vegas, NV",2669,3.597,50880
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.1,58.90,122510,0.6,28.43,38.42,57.66,76.77,...,375831,378427,"Los Angeles, CA",8556404.0,10407.0,0.001216,"Los Angeles, CA",1570,0.448,69520
29,"Memphis, TN-MS-AR (00-32820)",12610,2.0,44.35,92240,1.4,22.01,28.57,40.38,56.90,...,21045,21450,"Memphis, TN",633104.0,3908.0,0.006173,"Memphis, TN",200,2.373,52600
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.7,49.04,102000,0.9,22.94,31.00,45.28,63.16,...,135965,139644,"Miami, FL",841971.0,7466.0,0.008867,"Miami, FL",1873,3.071,56090
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.1,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,44349,44084,"Milwaukee, WI",6780886.0,17396.0,0.002565,"Milwaukee, WI",2916,-0.959,59530
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.2,52.31,108800,0.6,29.29,38.43,50.45,64.02,...,147088,148204,"Minneapolis, MN",5996594.0,4965.0,0.000828,"Minneapolis, MN",2365,-0.324,70425
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.7,45.21,94040,1.6,23.18,30.31,41.96,58.52,...,60502,63391,"Nashville, TN",4428727.0,8487.0,0.001916,"Nashville, TN",552,4.675,55635
34,"New Orleans-Metairie, LA (00-35380)",7880,4.1,50.34,104700,2.4,22.17,30.31,41.63,55.24,...,17760,18261,"New Orleans, LA",390144.0,2408.0,0.006173,"New Orleans, LA",343,3.109,54575
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.8,62.74,130500,0.6,29.68,41.89,61.04,80.37,...,594191,613861,"New York City, NY",3554473.0,13903.0,0.003911,"New York City, NY",1241,1.804,74430
36,"Oklahoma City, OK (00-36420)",18920,1.7,43.37,90200,1.7,21.95,28.60,39.18,53.80,...,28211,28722,"Oklahoma City, OK",655057.0,4044.0,0.006173,"Oklahoma City, OK",71,2.021,52570
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.2,46.81,97350,1.3,25.04,32.98,46.38,59.97,...,31085,31174,"Omaha, NE",2319042.0,17443.0,0.007522,"Omaha, NE",2939,0.164,60345
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1.0,48.27,100400,1.2,23.02,31.51,46.47,61.11,...,73922,76085,"Orlando, FL",4174499.0,7299.0,0.001748,"Orlando, FL",1327,2.321,56700
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.1,52.15,108470,0.8,26.32,35.97,49.44,64.98,...,157986,159251,"Philadelphia, PA",1629159.0,16479.0,0.010115,"Philadelphia, PA",2844,0.284,64780
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.1,51.08,106240,1.2,24.11,33.43,48.91,63.60,...,168694,172709,"Phoenix, AZ",5156799.0,17519.0,0.003397,"Phoenix, AZ",2621,2.554,59845
41,"Pittsburgh, PA (00-38300)",30760,1.3,45.54,94730,1.0,22.82,30.44,41.19,58.37,...,58646,58884,"Pittsburgh, PA",6091495.0,1376.0,0.000226,"Pittsburgh, PA",1192,-1.072,55395
42,"Portland-South Portland, ME (00-76750)",6740,2.4,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,60745
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2.0,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,68520
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.9,27.82,37.62,50.65,65.88,...,34024,34627,"Providence, RI",8220528.0,8305.0,0.001010,"Providence, RI",1448,0.829,68055
45,"Raleigh, NC (00-39580)",41180,1.2,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,75041,77377,"Raleigh, NC",8817088.0,4642.0,0.000526,"Raleigh, NC",1108,1.053,70155
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.1,50.20,104420,0.6,31.33,36.24,46.08,60.16,...,55368,55709,"Sacramento, CA",1757923.0,9704.0,0.005520,"Sacramento, CA",2909,0.465,70270
47,"Salt Lake City, UT (00-41620)",37850,3.2,51.10,106300,1.7,23.64,33.09,47.64,64.46,...,69826,73038,"Salt Lake City, UT",2954941.0,17714.0,0.005995,"Salt Lake City, UT",1735,3.611,59000
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.9,47.51,98830,1.2,23.00,30.79,45.71,61.02,...,53290,55069,"San Antonio, TX",668467.0,6449.0,0.009647,"San Antonio, TX",1885,2.026,55940
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.9,60.10,125010,0.7,29.20,40.69,59.06,76.79,...,121128,123237,"San Diego, CA",6611000.0,2991.0,0.000452,"San Diego, CA",2394,1.293,72685
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.2,76.18,158450,0.6,37.15,56.45,78.79,97.11,...,365494,380190,"San Francisco, CA",7349695.0,13621.0,0.001853,"San Francisco, CA",659,2.482,97340
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.9,88.68,184460,0.4,49.38,68.67,84.19,101.87,...,364882,374138,"San Jose, CA",6721458.0,15828.0,0.002355,"San Jose, CA",253,1.490,122770
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.7,69.49,144530,0.9,35.52,48.59,67.68,83.35,...,287621,298361,"Seattle, WA",2522189.0,18032.0,0.007149,"Seattle, WA",803,2.484,87475
53,"St. Louis, MO-IL (00-41180)",45330,2.0,45.35,94330,0.9,22.33,28.87,42.76,59.78,...,78129,78905,"St. Louis, MO",2150021.0,14762.0,0.006866,"St. Louis, MO",456,0.881,53250
54,"Trenton, NJ (00-45940)",11610,1.8,54.43,113210,0.9,29.18,37.89,50.18,66.38,...,18541,18764,"Trenton, NJ",84907.0,524.0,0.006173,"Trenton, NJ",234,1.321,69745
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.1,62.96,130950,1.3,33.89,46.17,62.40,79.27,...,376034,380232,"Washington DC, DC",720687.0,4449.0,0.006173,"Washington DC, DC",899,0.920,83255

### Final Clean

In [11]:
import pandas as pd

# Load the initial data from the Excel file
df5 = pd.read_excel("updated_output.xlsx")

# Drop unnecessary columns from df5 as per your previous step

# Define the weights for each column in the calculation of the "Entry Level Tech Friendly Index"
weights = {
    'Employment_per_1k_jobs': 0.25,
    'Location_Quotient': 0.20,
    'Average_7_Year_Growth_Rate': 0.30,
    'Entry_Level_Tech_Wage': 0.15,
    'Number_of_Tech_Events': 0.10,
    'Layoffs_per_Capita': 0.10
}

# Calculate the "Entry Level Tech Friendly Index" by combining the weighted columns
df5['Tech_Friendly_Index'] = (
    df5['Employment_per_1k_jobs'] * weights['Employment_per_1k_jobs'] +
    df5['Location_Quotient'] * weights['Location_Quotient'] +
    df5['Average_7_Year_Growth_Rate'] * weights['Average_7_Year_Growth_Rate'] +
    df5['Entry_Level_Tech_Wage'] * weights['Entry_Level_Tech_Wage'] +
    df5['Number_of_Tech_Events'] * weights['Number_of_Tech_Events'] -
    df5['Layoffs_per_Capita'] * weights['Layoffs_per_Capita']


)

# Save the updated DataFrame with the new index back to an Excel file
df5.to_excel("Tech_Hub.xlsx", index=False)

# Optional: Print the updated DataFrame to check the new column
df5= pd.read_excel("Tech_Hub.xlsx")
df5.info(40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Area_Name                                   56 non-null     object
 1   Employment_Total                            56 non-null     int64
 2   Employment_percent_relative_standard_error  56 non-null     float64
 3   Hourly_mean_wage                            56 non-null     float64
 4   Annual_mean_wage                            56 non-null     int64
 5   Wage_percent_relative_standard_error        56 non-null     float64
 6   Hourly_10th_percentile_wage                 56 non-null     float64
 7   Hourly_25th_percentile_wage                 56 non-null     float64
 8   Hourly_median_wage                          56 non-null     float64
 9   Hourly_75th_percentile_wage                 56 non-null     float64
 10  Hourly_90th_percentile_wage                 56 non-null     object
 11  Annual_10th_percentile_wage                 56 non-null     int64
 12  Annual_25th_percentile_wage                 56 non-null     int64
 13  Annual_median_wage                          56 non-null     int64
 14  Annual_75th_percentile_wage                 56 non-null     int64
 15  Annual_90th_percentile_wage                 56 non-null     object
 16  Employment_per_1k_jobs                      56 non-null     float64
 17  Location_Quotient                           56 non-null     float64
 18  City                                        56 non-null     object
 19  2018                                        56 non-null     int64
 20  2019                                        56 non-null     int64
 21  2020                                        56 non-null     int64
 22  2021                                        56 non-null     int64
 23  2022                                        56 non-null     int64
 24  2023                                        56 non-null     int64
 25  2024                                        56 non-null     int64
 26  Location                                    55 non-null     object
 27  Population                                  55 non-null     float64
 28  Number_of_Layoffs                           55 non-null     float64
 29  Layoffs_per_Capita                          55 non-null     float64
 30  Spot                                        56 non-null     object
 31  Number_of_Tech_Events                       56 non-null     int64
 32  Average_7_Year_Growth_Rate                  56 non-null     float64
 33  Entry_Level_Tech_Wage                       56 non-null     int64
 34  Tech_Friendly_Index                         55 non-null     float64
dtypes: float64(14), int64(15), object(6)
memory usage: 15.4+ KB

### Calculate "Tech Friendly Index"

# Confortable Living Index

In [12]:
import pandas as pd 

Entry_Level_Wage= pd.read_excel("Final_Tech_Data.xlsx")
Entry_Level_Wage.drop(['Employment_Total', 'Employment_per_1k_jobs', 'Location_Quotient', 'Average_7_Year_Growth_Rate'], axis=1, inplace=True)
Entry_Level_Wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Area_Name              56 non-null     object
 1   Entry_Level_Tech_Wage  56 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [13]:
import pandas as pd

COL = pd.read_csv("advisorsmith_cost_of_living_index.csv")
COL

           City State  Cost of Living Index
0       Abilene    TX                  89.1
1        Adrian    MI                  90.5
2         Akron    OH                  89.4
3    Alamogordo    NM                  85.8
4        Albany    GA                  87.3
..          ...   ...                   ...
505    Wheeling    WV                  84.1
506  New London    CT                 105.9
507      Daphne    AL                  96.6
508    Victoria    TX                  89.5
509    Aberdeen    WA                  97.6

[510 rows x 3 columns]

In [14]:
import pandas as pd

TB = pd.read_excel("Tax_Burden.xlsx")
TB.head()

  State  Sales_Tax  Income_Tax  Property_Tax   License_Tax  Total_Tax
0    AL       4936      3870.0          337.0          494     9637.0
1    AK        256       228.0          128.0          147      759.0
2    AZ       8246      4452.0          883.0          459    14040.0
3    AR       4410      3141.0         1088.0          384     9023.0
4    CA      52347     86937.0         2316.0         9422   151022.0

### Calculating Financial Hub

In [15]:
import pandas as pd
import sqlite3

# Load the datasets
Entry_Level_Wage = pd.read_excel("Final_Tech_Data.xlsx")
COL = pd.read_csv("advisorsmith_cost_of_living_index.csv")
TB = pd.read_excel("Tax_Burden.xlsx")

# Drop unnecessary columns from Entry_Level_Wage
Entry_Level_Wage.drop(['Employment_Total', 'Employment_per_1k_jobs', 'Location_Quotient', 'Average_7_Year_Growth_Rate'], axis=1, inplace=True)

# Standardize column names for easier SQL usage
COL.rename(columns={"Cost of Living Index": "Cost_Living"}, inplace=True)

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load the DataFrames into SQLite
Entry_Level_Wage.to_sql("Tech_Wages", conn, if_exists="replace", index=False)
COL.to_sql("Cost_Living", conn, if_exists="replace", index=False)
TB.to_sql("Tax_Burden", conn, if_exists="replace", index=False)


# SQL query to calculate the ratios
query = """
SELECT Tech_Wages.Area_Name, Tax_Burden.State, Tax_Burden.Total_Tax, Cost_Living.Cost_Living,
(Cost_Living.Cost_Living * 100) + Tax_Burden.Total_Tax 
AS Financial_Comfort_Index
FROM Tech_Wages
JOIN Cost_Living ON Tech_Wages.Area_Name LIKE '%' || Cost_Living.City || '%'
JOIN Tax_Burden ON Tech_Wages.Area_Name LIKE '%, %' || Tax_Burden.State || '%'
GROUP BY Tech_Wages.Area_Name;

"""

# Execute query and store the result in a DataFrame
result_df = pd.read_sql(query, conn)

# Close the SQLite connection
conn.close()

# Display results
result_df.head()

# Optionally, save the result to an Excel file
result_df.to_excel("Financial_Hub.xlsx", index=False)
result_df

,Area_Name,State,Total_Tax,Cost_Living,Financial_Comfort_Index
0,"Albuquerque, NM (00-10740)",NM,5008.00,92.9,14298.00
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",GA,19723.00,100.3,29753.00
2,"Austin-Round Rock, TX (00-12420)",TX,51081.00,106.6,61741.00
3,"Baltimore-Columbia-Towson, MD (00-12580)",MD,19238.00,107.0,29938.00
4,"Boise City, ID (00-14260)",ID,3969.00,100.3,13999.00
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",MA,26211.00,132.6,39471.00
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",NY,74532.00,97.3,84262.00
7,"Charleston, WV (00-16620)",WV,4886.00,83.9,13276.00
8,"Charleston-North Charleston, SC (00-16700)",SC,9561.00,83.9,17951.00
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",NC,24994.00,97.9,34784.00
10,"Charlottesville, VA (00-16820)",VA,20079.00,97.9,29869.00
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",IL,38862.00,100.1,48872.00
12,"Cleveland, TN (00-17420)",TN,12402.00,89.5,21352.00
13,"Cleveland-Elyria, OH (00-17460)",OH,28271.00,89.5,37221.00
14,"Colorado Springs, CO (00-17820)",CO,12518.00,102.2,22738.00
15,"Columbus, GA-AL (00-17980)",AL,9637.00,88.5,18487.00
16,"Columbus, IN (00-18020)",IN,17393.00,88.5,26243.00
17,"Columbus, OH (00-18140)",OH,28271.00,88.5,37121.00
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",TX,51081.00,98.5,60931.00
19,"Denver-Aurora-Lakewood, CO (00-19740)",CO,12518.00,112.1,23728.00
20,"Des Moines-West Des Moines, IA (00-19780)",IA,9081.00,91.7,18251.00
21,"Detroit-Warren-Dearborn, MI (00-19820)",MI,26662.00,93.2,35982.00
22,"Hartford-West Hartford-East Hartford, CT (00-7...",CT,15887.00,104.8,26367.00
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",TX,51081.00,95.8,60661.00
24,"Huntsville, AL (00-26620)",AL,9637.00,91.3,18767.00
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",IN,17393.00,90.8,26473.00
26,"Kansas City, MO-KS (00-28140)",KS,7736.00,91.6,16896.00
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",NV,6930.00,100.7,17000.00
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",CA,151022.00,140.6,165082.00
29,"Memphis, TN-MS-AR (00-32820)",AR,9023.00,88.2,17843.00
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",FL,34713.07,110.1,45723.07
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",WI,16941.00,93.8,26321.00
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",MN,24031.00,92.4,33271.00
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",TN,12402.00,100.1,22412.00
34,"New Orleans-Metairie, LA (00-35380)",LA,8988.00,92.4,18228.00
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",NJ,30339.00,128.0,43139.00
36,"Oklahoma City, OK (00-36420)",OK,8833.00,87.3,17563.00
37,"Omaha-Council Bluffs, NE-IA (00-36540)",IA,9081.00,92.9,18371.00
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",FL,34713.07,101.4,44853.07
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",DE,3430.00,103.4,13770.00
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",AZ,14040.00,104.3,24470.00
41,"Pittsburgh, PA (00-38300)",PA,34633.00,93.1,43943.00
42,"Portland-South Portland, ME (00-76750)",ME,4006.00,113.0,15306.00
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",OR,10437.00,113.0,21737.00
44,"Providence-Warwick, RI-MA (00-77200)",MA,26211.00,111.5,37361.00
45,"Raleigh, NC (00-39580)",NC,24994.00,99.7,34964.00
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",CA,151022.00,120.3,163052.00
47,"Salt Lake City, UT (00-41620)",UT,6573.00,93.6,15933.00
48,"San Antonio-New Braunfels, TX (00-41700)",TX,51081.00,92.7,60351.00
49,"San Diego-Carlsbad, CA (00-41740)",CA,151022.00,136.2,164642.00
50,"San Francisco-Oakland-Hayward, CA (00-41860)",CA,151022.00,178.6,168882.00
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",CA,151022.00,173.5,168372.00
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",WA,19656.00,124.6,32116.00
53,"St. Louis, MO-IL (00-41180)",IL,38862.00,89.6,47822.00
54,"Trenton, NJ (00-45940)",NJ,30339.00,104.3,40769.00
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",MD,19238.00,86.2,27858.00

## Combine Both

In [16]:
import pandas as pd
import sqlite3

# Load the datasets
TH = pd.read_excel("Tech_Hub.xlsx")
FH = pd.read_excel("Financial_Hub.xlsx")

# Drop unnecessary columns from Entry_Level_Wage




# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load the DataFrames into SQLite
Entry_Level_Wage.to_sql("Tech_Wages", conn, if_exists="replace", index=False)
TH.to_sql("Tech_Hub", conn, if_exists="replace", index=False)
FH.to_sql("Financial_Hub", conn, if_exists="replace", index=False)


# SQL query to calculate the ratios
query = """
SELECT Tech_Hub.Area_Name, Tech_Hub.Tech_Friendly_Index, Financial_Hub.Financial_Comfort_Index 
FROM Tech_Hub
JOIN Financial_Hub ON Tech_Hub.Area_Name LIKE '%' || Financial_Hub.Area_Name || '%'

GROUP BY Tech_Hub.Area_Name;

"""

# Execute query and store the result in a DataFrame
result_df = pd.read_sql(query, conn)

# Close the SQLite connection
conn.close()

# Display results
result_df.head()

# Optionally, save the result to an Excel file
result_df.to_excel("Final_Data.xlsx", index=False)
print(result_df.describe())

       Tech_Friendly_Index  Financial_Comfort_Index
count            55.000000                56.000000
mean           9806.800001             43224.752500
std            1941.960600             41507.675849
min            6669.265783             13276.000000
25%            8627.053394             18458.000000
50%            9355.843698             29811.000000
75%           10725.801392             44170.517500
max           18477.503264            168882.000000

---

# Machine Learning Begins

### 1. Loading Data Sets & Defining Targets

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix


# Step 1: Load data
df = pd.read_csv('Final_Data.csv')

# Step 2: Preprocess data (you can adjust as needed)
# Handling missing values, if any (for simplicity, let's drop rows with missing values)
df = df.dropna(subset=['Financial_Comfort_Index', 'Tech_Friendly_Index'])

# Step 3: Define the thresholds (example thresholds, adjust as needed)
tech_threshold = 20  # New threshold for Tech-Friendliness
finance_threshold = 50  # New threshold for Financial Comfort


# Step 4: Classify Tech Hub and Affordable columns based on thresholds
df['Tech Hub?'] = df['Tech_Friendly_Index'].apply(lambda x: 1 if x > tech_threshold else 0)
df['Affordable?'] = df['Financial_Comfort_Index'].apply(lambda x: 1 if x > finance_threshold else 0)

# Step 5: Define the Final Classification based on the combination of Tech Hub and Affordable
def final_classification(row):
    if row['Tech Hub?'] == 1 and row['Affordable?'] == 1:
        return "High-Tech, Cost-Effective"
    elif row['Tech Hub?'] == 1 and row['Affordable?'] == 0:
        return "High-Tech, Expensive"
    elif row['Tech Hub?'] == 0 and row['Affordable?'] == 1:
        return "Low-Tech, Cost-Effective"
    elif row['Tech Hub?'] == 0 and row['Affordable?'] == 0:
        return "Low-Tech, Expensive"

df['Final Classification'] = df.apply(final_classification, axis=1)


# Step 7: Check the distribution of the final classification again
print("Final Classification Distribution:")
print(df['Final Classification'].value_counts())

# Step 8: Ensure there are at least two classes for classification
if len(df['Final Classification'].value_counts()) < 2:
    print("Error: Not enough classes in the target variable for classification.")
else:
    # Encode the 'Final Classification' for machine learning models
    label_encoder = LabelEncoder()
    df['Final Classification Encoded'] = label_encoder.fit_transform(df['Final Classification'])

    # Prepare features and target variables
    X = df[['Tech_Friendly_Index', 'Financial_Comfort_Index']]  # Features
    y = df['Final Classification Encoded']  # Target

Final Classification Distribution:
High-Tech, Cost-Effective    26
Low-Tech, Cost-Effective     16
High-Tech, Expensive          9
Low-Tech, Expensive           4
Name: Final Classification, dtype: int64

### 2. Split data into training and testing sets

In [48]:
# Step 8: Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

## ***1. LOGISTIC REGRESSION***

In [156]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score

# Logistic Regression Model with L2 Regularization (default)
log_reg = LogisticRegression(max_iter=1000, penalty='l2', solver='saga', C=1)  # C=1.0 is the default value

log_reg.fit(X_train, y_train)
y_pred_proba_log = log_reg.predict_proba(X_test)

# Print classification report for Logistic Regression
print("Logistic Regression Evaluation:")
print(f"Accuracy: {accuracy_score(y_test, y_pred_log_reg)}")
print(f"Precision: {precision_score(y_test, y_pred_log_reg, average='weighted', zero_division=1)}")
print(f"Recall: {recall_score(y_test, y_pred_log_reg, average='weighted')}")
print(f"F1 Score: {f1_score(y_test, y_pred_log_reg, average='weighted')}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba_log, multi_class='ovr', average='weighted')}")
print(f"Confusion Matrix: \n{confusion_matrix(y_test, y_pred_log_reg)}\n")

Logistic Regression Evaluation:
Accuracy: 0.36363636363636365
Precision: 0.5357142857142857
Recall: 0.36363636363636365
F1 Score: 0.3051948051948052
ROC-AUC: 1.0
Confusion Matrix:
[[3 0 2 0]
 [1 0 1 0]
 [2 0 1 0]
 [1 0 0 0]]

## ***2. DECISION TREE CLASSIFIER***

In [132]:
# Initialize Decision Tree Classifier with regularization parameters
dec_tree = DecisionTreeClassifier(
    random_state=42,
    max_depth=4,
    min_samples_split=8,
    min_samples_leaf=12,
    max_features='sqrt',
    ccp_alpha=0.02,
    class_weight='balanced'  # Automatically adjusts weights based on class frequencies
)


# Fit the model
dec_tree.fit(X_train, y_train)

# Predict the results
y_pred_dec_tree = dec_tree.predict(X_test)
y_pred_proba_dec = dec_tree.predict_proba(X_test)


# Decision Tree Classifier Evaluation
print("Decision Tree Evaluation:")
print(f"Accuracy: {accuracy_score(y_test, y_pred_dec_tree)}")
print(f"Precision: {precision_score(y_test, y_pred_dec_tree, average='weighted', zero_division=1)}")
print(f"Recall: {recall_score(y_test, y_pred_dec_tree, average='weighted')}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba_dec, multi_class='ovr', average='weighted')}")
print(f"F1 Score: {f1_score(y_test, y_pred_dec_tree, average='weighted')}")
print(f"Confusion Matrix: \n{confusion_matrix(y_test, y_pred_dec_tree)}\n")

Decision Tree Evaluation:
Accuracy: 0.7272727272727273
Precision: 0.75
Recall: 0.7272727272727273
ROC-AUC: 0.8809343434343435
F1 Score: 0.6883116883116883
Confusion Matrix:
[[4 1 0 0]
 [1 1 0 0]
 [0 0 3 0]
 [0 0 1 0]]

## ***3. Random Forest Classifer***

In [153]:

rand_forest = RandomForestClassifier(
    random_state=42,
    max_depth=75,
    min_samples_split=3,
    min_samples_leaf=11,
    max_features='sqrt',
    ccp_alpha=0.01,
    class_weight='balanced'  # Automatically adjusts weights based on class frequencies
)

rand_forest.fit(X_train, y_train)
y_pred_rand_forest = rand_forest.predict(X_test)
y_pred_proba_rand_forest = rand_forest.predict_proba(X_test)



print("Random Forest Evaluation:")
print(f"Accuracy: {accuracy_score(y_test, y_pred_rand_forest)}")
print(f"Precision: {precision_score(y_test, y_pred_rand_forest, average='weighted')}")
print(f"Recall: {recall_score(y_test, y_pred_rand_forest, average='weighted')}")
print(f"F1 Score: {f1_score(y_test, y_pred_rand_forest, average='weighted')}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba_dec, multi_class='ovr', average='weighted')}")
print(f"Confusion Matrix: \n{confusion_matrix(y_test, y_pred_rand_forest)}\n")

Random Forest Evaluation:
Accuracy: 0.9090909090909091
Precision: 0.9393939393939393
Recall: 0.9090909090909091
F1 Score: 0.9131313131313131
ROC-AUC: 0.8809343434343435
Confusion Matrix:
[[4 1 0 0]
 [0 2 0 0]
 [0 0 3 0]
 [0 0 0 1]]

## ***4. K-Learning***

In [152]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

knn_clf = KNeighborsClassifier(n_neighbors=15)
knn_clf.fit(X_train, y_train)

y_pred = knn_clf.predict(X_test)  # Generate predictions
y_pred_proba_knn_clf = knn_clf.predict_proba(X_test)


print("knn_clf:")
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Precision: {precision_score(y_test, y_pred, average='weighted', zero_division=1)}")
print(f"Recall: {recall_score(y_test, y_pred, average='weighted')}")
print(f"F1 Score: {f1_score(y_test, y_pred, average='weighted')}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba_knn_clf, multi_class='ovr', average='weighted')}")
print(f"Confusion Matrix: \n{confusion_matrix(y_test, y_pred)}\n")

knn_clf:
Accuracy: 0.8181818181818182
Precision: 0.890909090909091
Recall: 0.8181818181818182
F1 Score: 0.7904040404040404
ROC-AUC: 0.9625
Confusion Matrix:
[[4 0 1 0]
 [0 2 0 0]
 [0 0 3 0]
 [0 0 1 0]]

## Compare Models